<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: center">
    <a href="/" ><h1>My board</h1></a>
</div>

<div style="width: 60%; height: 100px; margin: auto; text-align: center">

    <form action="/register" method="post">
        제목:<input type="text" name="title" placeholder="title"><br><br><br>
        내용:<textarea name="content" placeholder="content" cols="50" rows="10"></textarea>
        <input type="submit" value="등록">
    </form>

</div>

</body>
</html>